.hero{
    display: flex;
    width: 100%;
    height: 50rem;
    padding: 3rem 10rem;
    background-color:rgb(5, 5, 22);
    align-items: center;
    justify-content: center;

   
    
}
.leftSide{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
    
    h1{
        font-size:4rem;
        color: white;

    }
    span{
        color: orangered;
    }
    p{
        color: gray;
        font-size: 24px;
    }
    .buttons{
         display: flex;
         gap: 10px;
         padding: 2rem 0;

         .icon{
            color: aliceblue;
            z-index: 999;
         }

         a{
            text-decoration: none;
            color:white;
            font-size: 18px;
            font-weight: 800;
         }
    }
    .shopBtn{
        padding:16px 30px ;
        border-radius: 30px;
        border: none;
        background-color: orangered;
        box-shadow: rgba(159, 154, 154, 0.2) 0px 18px 50px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
       
        
    }
    .categoriesBtn{
        padding:16px 25px ;
        border-radius: 30px;
        background-color: transparent;
        border: 1px solid gray;
        
       
    }
    .categoriesBtn:hover {
       background-color: rgba(255, 255, 255, 0.1);
       transition: 0.3s;
       border: 1px solid white;
    }
    .shopBtn:hover {
       box-shadow: rgba(236, 212, 212, 0.2) 0px 18px 50px 10px;
       transition: 0.3s;
       background-color: rgb(220, 85, 36);
       
    }
    .box{
        display: flex;
        border-top:1px solid grey;
        width: 100%;
        justify-content:space-between;
        padding: 3rem 0;
        
        
        
        
        
    }
    .box1, .box2, .box3{
        display: flex;
        flex-direction: column;
        height: 50px;
        align-items:start;
        width: 30%;
        
        
        
        p{
            font-size: 18px;
            color: gray;
            
        }
        h2{
            color: white;
            font-size: 28px;
        }
        
   
    }
    .box1, .box2{
        border-right: 1px solid gray;
    }
}
.rightSide{
    width: 50%;
    position: relative;
   

    .image img{
        width: 560px;
        height: 460px;
        
    }
    .image{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%) rotate(-10deg);
        animation: float 4s ease-in-out infinite;

        
        
    }
}
@keyframes float {
  0% {
    transform: translate(-50%, -50%) rotate(-10deg);
    
  }

  50% {
    transform: translate(-50%, -54%) rotate(-10deg);
    
  }

  100% {
    transform: translate(-50%, -50%) rotate(-10deg);
    
  }
}

.badgeCheck {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 999;
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(55, 53, 53, 0.726);
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(30, 19, 19, 0.741);
  border: none;
  width: 200px;
  position: absolute;
  top:-100px;
  left:-30px;

 

  .icon {
    width: 40px;
    height: 40px;
    min-width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:rgba(13, 25, 13, 0.688);

    svg {
      font-size: 18px;
      color: #2e7d32;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color:white;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: grey;
    }
  }
}
.badgeReturn {
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 999;
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(34, 33, 33, 0.701);
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border: none;
  width: 220px;
  position: absolute;
  top:-20px;
  right:-30px;

 

  .icon {
    width: 40px;
    height: 40px;
    min-width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background:rgba(234, 184, 92, 0.305);

    svg {
      font-size: 18px;
      color: orange;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color:white;
    }

    p {
      margin: 0;
      font-size: 16px;
      color: grey;
    }
  }
}
.badgeSale {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 999;
  padding:  20px;
  border-radius: 50%;
  background: orange;
  transition: 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border: none;
  width: 100px;
  height: 100px;
  position: absolute;
  top:-260px;
  right:0;
  animation: glow 4s ease-in-out infinite;
    p {
      margin: 0;
      font-size: 12px;
      font-weight: 800;
      color:white;
    }
    span{
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
    

    
}
@keyframes glow {
  0% {
    
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.4);
  }

  50% {
   
    box-shadow:
      0 0 20px rgba(255, 153, 0, 0.521),
      0 0 40px rgba(255, 152, 0, 0.4),
      0 0 60px rgba(255, 152, 0, 0.2);
  }

  100% {
    
    box-shadow: 0 0 10px rgba(255, 152, 0, 0.4);
  }
}