.productGrid {
  width: 100%;
  padding: 60px 0;

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 30px;
  }
}

@media (max-width: 1200px) {
  .productGrid {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 992px) {
  .productGrid {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 576px) {
  .productGrid {
    .container {
      grid-template-columns: 1fr;
    }
  }
}