.homeCategories {
  width: 90%;
  max-width: 1200px;
  margin: 8rem auto;
  
    .header{
      display:flex ;
      justify-content: space-between;
      align-items: center;
      
    
      a{
        text-decoration: none;
        color: orangered;
        font-size: 18px;
      }  
   
    .text{
      display: flex;
      flex-direction: column;
      gap: 5px;
       
    h2{
      font-weight: bold;
      color: black;
      font-size: 3rem;
      
    } 
    p{
      color: gray;
      font-size: 18px;

      
    }
  }
}

}
.featuredSection{
   background-color:aliceblue;
}
.featuredSection, .newSection{
    
    .flex{
      width: 90%;
      max-width: 1200px;
      margin:0 auto;
      padding: 8rem 0;
     }

    .header{
      display:flex ;
      justify-content: space-between;
    
      a{
        text-decoration: none;
        color: orangered;
        font-size: 18px;
      }
   
    .text{
      display: flex;
      flex-direction: column;
      gap: 5px;
       
    h2{
      font-weight: bold;
      color: black;
      font-size: 3rem;
      
    } 
    p{
      color: gray;
      font-size: 18px;
      
    }
    
   
    }

  }
  }
 


@media (max-width: 992px) {
  .homeCategories {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 600px) {
  .homeCategories {
    .container {
      grid-template-columns: 1fr;
    }
  }
}