.page {
  padding: 30px;
  background: #f8fafc;
  min-height: 100vh;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
  
}

.left {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 12px 22px;

  border: none;
  border-radius: 8px;

  background: #2563eb;
  color: #fff;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
  transition: .25s;

  &:hover {
    background: #1d4ed8;
  }
}

@media (max-width: 900px) {

  .topBar {
    flex-direction: column;
    align-items: stretch;
  }

  .left,
  .right {
    width: 100%;
    flex-direction: column;
    align-items: stretch;
  }

  .addBtn {
    width: 100%;
  }

}