.wishlistGrid {
  width: 100%;
  padding: 60px 0;
}

.wishlistContainer {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

@media (max-width: 1200px) {
  .wishlistContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .wishlistContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .wishlistContainer {
    grid-template-columns: 1fr;
  }
}