.search{
    position: relative;
}

.search button{
    border:none;
    background:none;
    cursor:pointer;
    font-size:22px;
}

.searchBox{
    position:absolute;
    right:0;
    top:45px;

    width:350px;
    background:white;
    border-radius:10px;
    padding:15px;
    box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.searchBox input{
    width:100%;
    padding:10px;
    margin-bottom:15px;
}

.results{
    max-height:350px;
    overflow-y:auto;
}

.results a{
    display:flex;
    gap:15px;
    align-items:center;
    padding:10px;
    text-decoration:none;
    color:black;
}

.results img{
    width:60px;
    height:60px;
    object-fit:cover;
    border-radius:8px;
}