.tableBox{

    background:white;
    border-radius:16px;
    padding:20px;
    overflow-x:auto;

}
table{
    width:100%;
    border-collapse:collapse;
    th{

        text-align:left;
        padding:15px;
        font-size:14px;
        color:#64748b;
        border-bottom:1px solid #eee;
    }

    td{
        padding:15px;
        border-bottom:1px solid #eee;
        color:#333;
    }

    img{

        width:60px;
        height:60px;
        object-fit:cover;
        border-radius:10px;

    }
}
.status{

    display:flex;
    gap:6px;
    flex-wrap:wrap;

    span{

        padding:5px 10px;
        border-radius:20px;
        font-size:12px;
        font-weight:600;

    }


}



.featured{

    background:#dbeafe;
    color:#2563eb;

}
.best{

    background:#dcfce7;
    color:#16a34a;

}
.new{

    background:#fef3c7;
    color:#d97706;

}
.edit,
.delete{

    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    margin-right:8px;
}
.edit{

    background:#e0f2fe;
    color:#0284c7;

}
.delete{

    background:#fee2e2;
    color:#dc2626;

}